
buildserver_pgdata/
teamcity/datadir/config/_logging/
teamcity/datadir/config/_notifications/
teamcity/datadir/system/caches/
teamcity/datadir/system/pluginData/
teamcity/teamcity-server-logs/
teamcity/datadir/config/*.dtd
teamcity/datadir/config/_auth/
teamcity/datadir/config/*.properties.dist
hub/logs/
youtrack/logs/
youtrack/conf/
teamcity/datadir/config/*.xml
hub/conf/*.dist
